@use '@/styles/bootstrap-variables' as bs;


.greenGradient,
.blueGradient {
  pointer-events: none;
  position: absolute;
  z-index: -10;
  width: 140vw;
  height: 140vw;
  border-radius: 50%;
}

.greenGradient {
  transform: translate3d(-50%, -50%, 0);
  background-image: linear-gradient(135deg, #376742, rgba(0, 0, 0, 0));
  opacity: .7;
  top: 0;
  left: 0;
}

.blueGradient {
  transform: translate3d(50%, -50%, 0);
  background-image: linear-gradient(315deg, #006DD2, rgba(0, 0, 0, 0));
  opacity: .4;
  top: 60vh;
  right: 0;
}

.hero {
  font-size: 1.3rem;
  
  @include bs.media-breakpoint-only(md) {
    font-size: 1.1rem;
  }

  @include bs.media-breakpoint-down(md) {
    font-size: 0.9rem;
    margin-left: 20px
  }

  h1 {
    font-size: 4em;
    line-height: 1em;
    margin-bottom: 20px;
    font-weight: 900;
  }
}
